<link rel="stylesheet" type="text/css" href="<{$icms_url}>/modules/<{$lang_moduledirname}>/style.css" />

<div class="<{$smarty.const._GLOBAL_LEFT}>header"><a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/index.php"><{$lang_modulename}></a> | <{if $pagetype == '0'}><{$smarty.const._MD_IMGLOSSARY_ALLCATS}><{elseif $pagetype == '1'}><{$singlecat.name}><{/if}></div>
<div class="<{$smarty.const._GLOBAL_RIGHT}>header"><{$lang_modulename}></div>
<hr>

<div class="clearer">
	<fieldset>
		<legend><{$smarty.const._MD_IMGLOSSARY_BROWSELETTER}></legend>
		<div style="text-align: center;">
			<{foreach item=letterlinks from=$alpha.initial}>
				<{if $letterlinks.total > 0}> 
					<a class="letters" style="cursor: pointer;" href="<{$icms_url}>/modules/<{$lang_moduledirname}>/letter.php?init=<{$letterlinks.id}>" title="<{$letterlinks.total}><{$letterlinks.title}>"><{$letterlinks.linktext}></a>
				<{else}>
					<span class="letters" style="opacity: 0.4; filter: alpha(opacity=40);"><{$letterlinks.linktext}></span>
				<{/if}>
			<{/foreach}>
			<div>
				<{if $totalother > 0}>
					<a class="letters" style="cursor: pointer;" href="<{$icms_url}>/modules/<{$lang_moduledirname}>/letter.php?init=<{$smarty.const._MD_IMGLOSSARY_OTHER}>" title="<{$totalother}><{$letterlinks.title}>">
				<{/if}>
				<{$smarty.const._MD_IMGLOSSARY_OTHER}>
				<{if $totalother > 0}>
					</a>&nbsp;
				<{/if}>
				<a class="letters" style="cursor: pointer;" href="<{$icms_url}>/modules/<{$lang_moduledirname}>/letter.php?init=<{$smarty.const._MD_IMGLOSSARY_ALL}>" title="<{$publishedwords}><{$letterlinks.title}>"><{$smarty.const._MD_IMGLOSSARY_ALL}></a>
			</div>
		</div>
	</fieldset>
</div>

<{if $multicats == 1}>
<div class="clearer">
<fieldset>
<legend><{$smarty.const._MD_IMGLOSSARY_BROWSECAT}></legend>
<div class="letterssmall">
<{foreach item=catlinks from=$block0.categories}> <a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/category.php?categoryID=<{$catlinks.id}>"><{$catlinks.linktext}>
<{if $catlinks.total > 0}> <{/if}>
</a>[<{$catlinks.total}>] |
<{/foreach}>  <a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/category.php?categoryID=<{$smarty.const._MD_IMGLOSSARY_ALLCATS}>"><{$smarty.const._MD_IMGLOSSARY_ALLCATS}></a> [<{$publishedwords}>]
</div>
</fieldset>
</div>
<{/if}>

<{if $pagetype == '0'}>
<div>&nbsp;</div>
	<h2 class="cat"><{$smarty.const._MD_IMGLOSSARY_ALLCATS}></h2>

	<{foreach item=eachcat from=$catsarray.single}>
	<fieldset>
		<legend><a href="<{$icms_url}>/modules/<{$eachcat.dir}>/category.php?categoryID=<{$eachcat.id}>"><{$eachcat.name}></a></legend>
		<{if $eachcat.description}>
			<div style="text-align: <{$smarty.const._GLOBAL_LEFT}>; padding: 8px; font-size: small;"><{$eachcat.description}><br /></div>
		<{/if}>
		<div style="text-align: center; padding: 5px;"><{$smarty.const._MD_IMGLOSSARY_WEHAVE}> <{$eachcat.total}> <{$smarty.const._MD_IMGLOSSARY_ENTRIESINCAT}></div>
	</fieldset>
	<{/foreach}>

	<div align = '<{$smarty.const._GLOBAL_LEFT}>'><{$catsarray.navbar}></div>
	<div style="text-align: center;">
		<a class="letters" href='javascript:history.go(-1)'><{$smarty.const._MD_IMGLOSSARY_RETURN}></a>
		<a class="letters" href='./index.php'><{$smarty.const._MD_IMGLOSSARY_RETURN2INDEX}></a>
	</div>

<{elseif $pagetype == '1'}>

	<fieldset style="padding: 4px;">
		<legend><{$singlecat.name}></legend>
		<{if $singlecat.description}>
			<div style="text-align: <{$smarty.const._GLOBAL_LEFT}>; padding: 8px; font-size: small;"><{$singlecat.description}></div>
		<{/if}>
		<div style="text-align: center; padding: 5px;"><{$smarty.const._MD_IMGLOSSARY_WEHAVE}> <{$singlecat.total}> <{$smarty.const._MD_IMGLOSSARY_ENTRIESINCAT}></div>

		<{foreach item=eachentry from=$entriesarray.single}>
			<h4 class="term"><a href="<{$icms_url}>/modules/<{$eachentry.dir}>/entry.php?entryID=<{$eachentry.id}>"><{$eachentry.term}></a></h4>
			<div class="definition" style="clear: both;"><{$eachentry.definition}></div>
			<div style="margin-<{$smarty.const._GLOBAL_LEFT}>: 8px;padding: 5px;"><{$eachentry.microlinks}></div>
		<{/foreach}>
	</fieldset>
	<div align = '<{$smarty.const._GLOBAL_LEFT}>'><{$entriesarray.navbar}></div>
	<div style="text-align: center;">
		<a class="letters" href='javascript:history.go(-1)'><{$smarty.const._MD_IMGLOSSARY_RETURN}></a>
		<a class="letters" href='./index.php'><{$smarty.const._MD_IMGLOSSARY_RETURN2INDEX}></a>
	</div>

<{/if}>