<link rel="stylesheet" type="text/css" href="<{$icms_url}>/modules/<{$lang_moduledirname}>/style.css" />

<div class="<{$smarty.const._GLOBAL_LEFT}>header"><{$lang_modulename}></div>
<div class="<{$smarty.const._GLOBAL_RIGHT}>header"><{$lang_modulename}></div>
<hr>

<{if $empty == 1}><div class="empty"><{$smarty.const._MD_IMGLOSSARY_STILLNOTHINGHERE}></div><{/if}>

<div class="clearer">
	<fieldset>
		<legend><{$smarty.const._MD_IMGLOSSARY_BROWSELETTER}></legend>
		<div class="letters">
			<{foreach item=letterlinks from=$alpha.initial}>
				<{if $letterlinks.total > 0}> 
					<a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/letter.php?init=<{$letterlinks.id}>" title="<{$letterlinks.total}><{$letterlinks.title}>" >	
				<{/if}>
				<{$letterlinks.linktext}>
				<{if $letterlinks.total > 0}></a><{/if}> |
			<{/foreach}>
			<{if $totalother > 0}>
				<a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/letter.php?init=<{$smarty.const._MD_IMGLOSSARY_OTHER}>" title="<{$totalother}><{$letterlinks.title}>">
			<{/if}>
			<{$smarty.const._MD_IMGLOSSARY_OTHER}> |
			<{if $totalother > 0}></a><{/if}>
			<a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/letter.php?init=<{$smarty.const._MD_IMGLOSSARY_ALL}>" title="<{$publishedwords}><{$letterlinks.title}>"><{$smarty.const._MD_IMGLOSSARY_ALL}></a>
		</div>
	</fieldset>
</div>

<{if $multicats == 1}>
	<div class="clearer">
		<fieldset>
			<legend><{$smarty.const._MD_IMGLOSSARY_BROWSECAT}></legend>
			<div class="letterssmall">
				<{foreach item=catlinks from=$block0.categories}> <a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/category.php?categoryID=<{$catlinks.id}>"><{$catlinks.linktext}>
					<{if $catlinks.total > 0}><{/if}>
					</a> [<{$catlinks.total}>] |
				<{/foreach}>
				<a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/category.php?categoryID=<{$smarty.const._MD_IMGLOSSARY_ALLCATS}>"><{$smarty.const._MD_IMGLOSSARY_ALLCATS}></a> [<{$publishedwords}>]
			</div>
		</fieldset>
	</div>
<{/if}>

<{if $showcenter}>

	<div class="float28">
		<fieldset>
			<legend><{$smarty.const._MD_IMGLOSSARY_RECENTENT}></legend>
				<{foreach item=newentries from=$block.newstuff}>
					- <a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/entry.php?entryID=<{$newentries.id}>"><{$newentries.linktext}></a> <span style="font-size: xx-small;">(<{$newentries.date}>)</span><br />
				<{/foreach}>
		</fieldset>
	</div>

	<div class="float28">
		<fieldset>
			<legend><{$smarty.const._MD_IMGLOSSARY_POPULARENT}></legend>
				<{foreach item=popentries from=$block2.popstuff}>
					- <a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/entry.php?entryID=<{$popentries.id}>"><{$popentries.linktext}></a> <span style="font-size: xx-small;">(<{$popentries.counter}>)</span><br />
				<{/foreach}>
		</fieldset>
	</div>

	<div class="search">
		<fieldset>
			<legend><{$smarty.const._MD_IMGLOSSARY_SEARCHENTRY}></legend>
			<{$searchform}>
		</fieldset>
	</div>

<{else}>

	<div>
		<fieldset>
			<legend><{$smarty.const._MD_IMGLOSSARY_SEARCHENTRY}></legend>
			<div style="padding: 5px;"><{$searchform}></div>
		</fieldset>
	</div>

<{/if}>

<{if $showrandom}>
	<div style="clear: both; width: 100%;">
		<fieldset>
			<legend><{$smarty.const._MD_IMGLOSSARY_RANDOMTERM}></legend>
				<{if $multicats == 1}>
					<{if $empty != 1}>
						<div class="catname">&nbsp;<{$smarty.const._MD_IMGLOSSARY_ENTRYCATEGORY}>
							<a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/category.php?categoryID=<{$random.categoryID}>"><{$random.categoryname}></a>
						</div>
					<{/if}>
				<{/if}>
				<div class="pad4">
					<h4 class="term"><a href="<{$icms_url}>/modules/<{$lang_moduledirname}>/entry.php?entryID=<{$random.entryID}>"><{$random.term}></a></h4>
					<div style="padding: 0 4px;"><{$random.definition}></div>
					<div style="padding-top: 5px; margin-<{$smarty.const._GLOBAL_LEFT}>: 8px;"><{$microlinks}></div>
				</div>
		</fieldset>
	</div>
<{/if}>

<{if $rssfeed}>
	<div align="center"><{$feed}></div>
<{/if}>