<{if $imglossary_entries_table}>
	<br />
	<b><{$smarty.const._AM_IMGLOSSARY_SHOWENTRIES}></b>
	<{$imglossary_entries_table}>
<{/if}>

<{if $imglossary_cats_table}>
	<br />
	<b><{$smarty.const._AM_IMGLOSSARY_SHOWCATS}></b>
	<{$imglossary_cats_table}>
<{/if}>

<{if $imglossary_submissions_table}>
	<br />
	<b><{$smarty.const._AM_IMGLOSSARY_SHOWSUBMISSIONS}></b>
	<{$imglossary_submissions_table}>
<{/if}>

<{if $imglossary_request_table}>
	<br />
	<b><{$smarty.const._AM_IMGLOSSARY_SHOWREQUESTS}></b>
	<{$imglossary_request_table}>
<{/if}>

<{if $imglossary_offline_table}>
	<br />
	<b><{$smarty.const._AM_IMGLOSSARY_SHOWOFFLINE}></b>
	<{$imglossary_offline_table}>
<{/if}>