<table id="moduleheader">
<tr>
<td width="100%"><span class="leftheader"><a href="<{$xoops_url}>"><{$smarty.const._MD_WB_HOME}></a> > <a href="<{$xoops_url}>/modules/<{$lang_moduledirname}>/index.php"><{$lang_modulename}></a> > <{$smarty.const._MD_WB_ASKFORDEF}></span></td>
<td width="100"><span class="rightheader"><{$lang_modulename}></span></td>
</tr>
</table>

<h3 class="cat"><{$smarty.const._MD_WB_ASKFORDEF}></h3>
<div class="intro"><{$smarty.const._MD_WB_INTROREQUEST}></div><br />
<{$requestform.javascript}>
<form name="<{$requestform.name}>" action="<{$requestform.action}>" method="<{$requestform.method}>" <{$requestform.extra}>>
<table class="outer" cellspacing="1">
<tr>
<th colspan="2"><{$requestform.title}></th>
</tr>
<{foreach item=element from=$requestform.elements}>
<{if $element.hidden != true}>
<tr>
<td width="120" class="head"><{$element.caption}></td>
<td class="<{cycle values="even,odd"}>"><{$element.body}></td>
</tr>
<{else}>
<{$element.body}>
<{/if}>
<{/foreach}>
</table>
</form>
<br />